*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.navbar{
    background-color: #5a0a7c !important;
    color: #ecf0f1 !important;  
    position: fixed;
    top: 0;
    width: 100%;  
    z-index: 999;
}

.navbar a{
    color: #ecf0f1 !important;
    margin-right: 8px !important ;
    cursor: pointer;
}
.navbar a.select{
    background-color: #16968b;
    border-radius: 10px;
}
header{
    width: 100%;
    height: 100vh;
}
.slider{
    position: relative;
     background-image: url('../imgfood/phone3.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: right;
     background-attachment: fixed;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(36, 34, 34,50%);
    /* z-index: ; */
}

.head-title{
    color:16968b ;
}

.div-col{
    width: 95%;
}
.bg-about{
    background-color: purple;
}

.contact{
    background-color: purple;
}

.social{
position: relative;
width: 50%;
height: 45px;
cursor: pointer;

}
.social-content{
width: 0;
height: 40px;
transition: all .5s;
}
.social-content-ul{
   opacity: 0;
   transition: all .5s;
 }

.social-content-ul.show{
        opacity: 1;
}
.social-content.show{
    width: 100%;
    height: 40px;

}
.social-btn{
position: absolute;
top: 10%;
left: -10px;
background-color: #360846;
width: 35px;
height: 35px;
border-radius: 50%;

}
.social-btn-content{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.social-btn-content.show{
    animation: rol 1.2s ease-in-out;
}
.social-btn-content.unshow{
    animation: rol2 1.2s ease-in-out;
}

@keyframes rol {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rol2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

